.FindJobs {
  display: flex;
  flex-direction: column;
  gap: 31px;
  padding-top: 238px;
  background-color: #f5f5f5;
}

.FilterXFindJobsList {
  display: flex;
  padding-left: 206px;
  gap: 59px;
}

.SearchFindJobsItem {
  display: flex;
  align-items: center;
  padding-left: 755px;
}

.SearchFindJobsItem > input {
  padding-left: 25px;
  width: 427px;
  height: 56px;
  border-radius: 20px 0px 0px 20px;
  background-color: #fff;
  border: none;
}

.SearchFindJobsItem > input:focus {
  outline: none;
}

.SearchFindJobsItem > button {
  width: 80px;
  height: 58px;
  background-color: #fff;
  border-radius: 0px 20px 20px 0px;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.FindJobsList {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
